<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Histogram Chart</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
  <body>
    <label for="chartType">Выбрать тип диаграммы:</label>
    <select id="chartType" onchange="changeChart()">
        <option value="destinations" selected>Удаления</option>
        <option value="asimuts">Азимут</option>
        <option value="percentege">Процентное отклонение</option>
        <option value="rose">Роза</option>
    </select>


    <div class="chart-container1" id ="DestinationsChart" style="display: block;width:85vw">
      <div><canvas id="myChart1"></canvas>
      <form>
        <div>
        <input type="radio" id="typeDest1" name="typeDistr" value="intervals" onchange="checkTypeBins(value,1)"/>
        <label for="chart1">Интервально</label>

        <input type="radio" id="typeDest2" name="typeDistr" value="uniform" onchange="checkTypeBins(value,1)" checked/>
        <label for="chart1">Равномерное</label>
        </div>
      </form>
      <button onclick=openDialog(1) id='varDest' style="display: none;">Задать интервалы</button>
      <input type="number" id="stepDest" style="display: inline;" min="0.0" name="Шаг">
      <button onclick=fetchData(1)>Отрисовка</button>
      </div>
    </div>


  <div class="chart-container2" id="AsimutsChart" style="display: none; width:85vw">
    <div><canvas id="myChart2"></canvas>
      <form>
        <div>
          <input type="radio" id="typeAsim1" name="typeDistr" value="intervals" onchange="checkTypeBins(value,2)"/>
          <label for="chart1">Интервально</label>

          <input type="radio" id="typeAsim2" name="typeDistr" value="uniform" onchange="checkTypeBins(value,2)" checked />
          <label for="chart1">Равномерное</label>
        </div>
      </form>
      <button onclick=openDialog(2) id='varAsim' style="display: none;">Задать интервалы</button>
      <input type="number" id="stepAsim" style="display: inline;" min="0.0" name="Шаг">
      <button onclick=fetchData(2)>Отрисовка</button>
    </div>
  </div>

  
  <div class="chart-container3" id="PercentegeChart" style="display: none; width:85vw">
    <div><canvas id="myChart3"></canvas>
      <div>
      Процент<input type="number" min="0" max="100">
      Кол-во корзин<input type ="number" min="0" id="number_bins">
      <button onclick=fetchData(3)>Отрисовка</button>
    </div>
    </div>
  </div>      
  



  <dialog id="Interval_dest_dialog">
    <ul id="destinations_list"></ul>
    <form id="dest_form">
      min:<input type="number" name="min" min="0.0" max="3000.0" id="dest_min" required>
      max:<input type="number" name="max" min="0.0" max="3000.0" id="dest_max" required>
      
    </form>
    <button onclick=addInterval(1)>Добавить</button>
    <button onclick="Submit_data_intervals(1)">Отправка на сервер</button>
  </dialog>

  <dialog id="Interval_asim_dialog">
    <ul id="asimuts_list"></ul>
    <form id="asimut_form">
      <input type="number" name="min" min="0.0" max="360.0" required>
      <input type="number" name="max" min="0.0" max="360.0" required>
    </form>
    <button onclick=addInterval(2)>Добавить</button>
    <button onclick="Submit_data_intervals(2)">Отправка на сервер</button>
  </dialog>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
  